
  
.urn{
  background: linear-gradient(44deg, #a4f2ff, #c8f7ff);
    width: 250px;
    height: 300px;
    border: 6px solid rgb(56, 56, 56);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    margin: auto;
    border-top: none;
    position: relative;
    box-shadow: 11px 11px 12px 2px rgb(0 0 0 / 5%);
}

.ball{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #7e7e7e;
  box-shadow:inset 3px -4px 8px rgba(255, 255, 255, 0.384), inset -3px 1px 4px rgba(0, 0, 0, 0.404), 0 0 1px #0000003b ;
  transition: border 0.5s ease;
}

.ball:nth-child(4n){
  z-index: 100;
}

.ball:nth-child(2n){
  z-index: 50;
}


.ball.highlighted{
  border: 3px solid yellow;
  z-index: 100;
}

.ball.highlightedAll{
  border: 2px solid yellow;
}

.ball.uncolored{
  border-color: black;
}

.left-column{
  position: relative;
  left: -260px;
  height: 100%;
  bottom: 0;
  text-align: right;
}

.row{
  position: absolute;
  width: 100%;
}

.ball{
    display: flex;
    align-items: center;
    justify-content: center;
}